{% include 'partials/head' %}

<body>

{% include 'partials/header' %}

<main class="container">

  <h1>Woningen te koop</h1>
  <form method="GET" class="sort-form">
  <label for="sort">Sorteer:</label>

  <select name="sort" id="sort" onchange="this.form.submit()">
    <option value="">Standaard</option>
    <option value="a-z">A → Z (straat)</option>
    <option value="z-a">Z → A (straat)</option>
  </select>
</form>

{% assign sorted_listings = listings %}

{% if sort == "a-z" %}
  {% assign sorted_listings = listings | sort: "street" %}
{% elsif sort == "z-a" %}
  {% assign sorted_listings = listings | sort: "street" | reverse %}
{% endif %}

  <!--  LISTING GRID -->
  <div class="listing-grid">

    {% for listing in listings %}

      <a href="/listing/{{ listing.id }}" class="card">

        <!--  FOTO -->
         <img 
  class="hero-image" 
  src="https://fdnd-agency.directus.app/assets/{{ listing.poster_image }}" 
  alt="Hoofdfoto {{ listing.street }}"
>

        <!-- INFO -->
        <div class="card-content">

          <h2>
            {{ listing.street }} {{ listing.house_nr }}
          </h2>

          <p>
            {{ listing.postal_code }} {{ listing.city }}
          </p>

          <p class="price">
            € {{ listing.price | number_with_delimiter }}
          </p>

          <!-- KORTE FACTS -->
          <div class="facts">

            <span> {{ listing.m2 | default: "n.v.t." }} m²</span>

            <span> {{ listing.rooms | default: "n.v.t." }} kamers</span>

            <span> {{ listing.m2_garden | default: "n.v.t." }} m² tuin</span>

          </div>

        </div>

      </a>

    {% endfor %}

  </div>

</main>

{% include 'partials/foot' %}

</body>