{% include 'partials/head' %}

<body>

{% include 'partials/header' %}

<main class="container">

  <h1>Woningen te koop</h1>

  <!--  LISTING GRID -->
  <div class="listing-grid">

    {% for listing in listings %}

      <a href="/listing/{{ listing.id }}" class="card">

        <!--  FOTO -->
        <img
          src="{{ listing.poster_image }}"
          alt="Woning foto"
          class="card-image"
        >

        <!-- INFO -->
        <div class="card-content">

          <h2>
            {{ listing.street }} {{ listing.house_nr }}
          </h2>

          <p>
            {{ listing.postal_code }} {{ listing.city }}
          </p>

          <p class="price">
            € {{ listing.price | number_with_delimiter }}
          </p>

          <!-- KORTE FACTS -->
          <div class="facts">

            <span> {{ listing.m2 | default: "n.v.t." }} m²</span>

            <span> {{ listing.rooms | default: "n.v.t." }} kamers</span>

            <span> {{ listing.m2_garden | default: "n.v.t." }} m² tuin</span>

          </div>

        </div>

      </a>

    {% endfor %}

  </div>

</main>

{% include 'partials/foot' %}

</body>